@import url('http://fonts.cdnfonts.com/css/panton');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
body {
    background-color: rgb(19,21,27);
    overflow-x: hidden;
    overflow: auto;
}

/* header style start */

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 88px;
    padding: 0 46px;
    background-color: rgb(23,25,32);
    z-index: 4;
    position: relative;
}
/* nav bar */
.nav-bar {
    display: inline;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.nav-bar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
.nav-bar li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 37px;
}

.nav-bar li a{
    text-decoration: none;
    font-family: 'Panton';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-left: 10px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    color: #434652;
    margin-top: 3px;
}

/* login/register/search */

.log-reg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* login */
.login-nav{
    display: flex;
    margin-right: 11px;
    align-items: center;
    justify-content: center;
    width: 121px;
    height: 40px;
    border: 1px solid #627EEA;
    border-radius: 9px;
}
.login-nav a{
    font-family: 'Panton';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

/* register */
.register-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    width: 121px;
    height: 40px;
    background-color: #F7931A;
    border-radius: 9px;
}
.register-nav a{
    font-family: 'Panton';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}
/* search */
.search-nav{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: #1E2029;
    border-radius: 20px;
}
/* header style end */

/* big container */
.b-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
}

/* side 1 = left side start*/
.s1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    margin-right: 192px;
    position: sticky;
}

/* left menu css classe */
.left-menu-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 295px;
    margin-left: 45px;
    background: linear-gradient(177.09deg, #171920 -3.07%, #1B1D25 165.3%);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    
}

.left-menu-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 295px;
    margin-left: 45px;
    background: linear-gradient(177.09deg, #171920 -3.07%, #1B1D25 165.3%);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    margin-top: 60px;
}

/* LEFT MENU CSS CLASSES UNI */

.lmc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;;
}
.lmc-h{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 229px;
    height: 28px;
    left: 72px;
    top: 183px;
    background: #1C1E27;
    border-radius: 5px;
    padding: 0 11px;
}
.lmc-h h3{
        font-family: 'Panton';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
        color: #686D7B;
}
.main-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-c ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    padding-left: 20px;
    margin-top: 36px;
}

.main-c li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 17px;
}

.main-c li a{
    text-decoration: none;
    margin-left: 10px;
    text-transform: uppercase;
    text-align: center;
    align-items: flex-start;
    font-family: 'Panton';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 3px;
    margin: 0 15px;
}
#live-casino-main{
    display: flex;
}
.live-c-t{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 18px;
    background: #627EEA;
    box-shadow: 0px 0px 4px 1px rgba(98, 126, 234, 0.2);
    border-radius: 3px;
}
.live-c-t h3{
    font-family: 'Panton';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.live-c-n{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 18px;
    background: #F7931A;
    box-shadow: 0px 0px 4px 1px rgba(247, 147, 26, 0.2);
    border-radius: 3px;
}
.live-c-n h3{
    font-family: 'Panton';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

/* live casino */
#live-casino, #aceking-exclusives, #ace-king{
    margin-top: 43px;
}

#aceking-exclusives{
    margin-bottom: 43px;
}
#other{
    margin-top: 29px;
    margin-bottom: 42px;
}
/* side 1 = left side end */

/* main content start */
.s2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
/* slideshow 1 */
#slideshow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: fit-content;
}
.slide{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: fit-content;
}
#slide-1{
    margin-right: 19px;
}
.imgs{
    position: relative;
    height: 305px;
    background: linear-gradient(177.09deg, #171920 -3.07%, #1B1D25 165.3%);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 20px;
}
.imgs img{
    width: inherit;
    height: inherit;
}
#imgs1{
    width: 374px;
}

.img-chose{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.line{
    width: 17.21px;
    height: 2.46px;
    background: #1E2029;
    border-radius: 2.5px;
    margin-top: 19px;
}
#line1{
    background: #505671;
}
#line1, #line2{
    margin-right: 4.92px;
}
/* slideshow 2 */
#imgs2{
    width: 548px;
}


/* HEROs */
/* Featured games  */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#hero1{
    margin-top: 73px;
}
.title-hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.title-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title-text h3{
    font-family: 'Panton';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.button-all-games{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button-all-games h2{
    font-family: 'Panton';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: rgba(128, 137, 153, 1);
    margin-right: 12px;
}
#title-edit-hero{
    font-weight: 200;
}
/* hero 1 main  */
.hero-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.herostyle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 69px;
}
#hero1-1{
    margin-right: 43px;
}
.hero-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.hero-title h4{
    margin-left: 10px;
    font-family: 'Panton';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.featured-img{
    display: flex;
    width: 433px;
    height: 256px;
    background: linear-gradient(177.09deg, #171920 -3.07%, #1B1D25 165.3%);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    margin-top: 28px;
}
#fi1{
    background-image: url(../img/featured1.svg);
}
#fi2{
    background-image: url(../img/featured2.svg);
}
.herostyle p{
    font-family: 'Panton';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #808999;
    width: 433px;
    margin: 31px 0;
}
.button-to-go{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    height: 69px;
}
#to-black-jack{
    background: linear-gradient(113.97deg, #627EEA 1.69%, #496BF0 108.48%);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}
#to-slots{
    background: linear-gradient(113.97deg, #F7931A 1.69%, #D07200 108.48%);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.button-to-go a{
    font-family: 'Panton';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 20px;
    text-decoration: none;
}
.hero-title img{
    width: 21px;
}
/* hero 1 end */

/* hero 2 main start */
#hero2{
    margin-top: 114px;
}
/* hero 2 main */
#hero2-main{
    flex-direction: column;
}
.fb-main{
    margin-top: 44px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
#fb2-main{
    margin-top: 0;
}
.fb-box{
    width: 169px;
    height: 169px;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover
}
#hilo{
    background: url('../img/hilo.png');
    margin-right: 10px;
    background-size: cover
}
#keno{
    background: url('../img/keno.png');
    margin-right: 10px;
    background-size: cover
}
#roulette-m{
    background: url('../img/roullete-multy.png');
    margin-right: 10px;
    background-size: cover
}
#hash-dice{
    background: url('../img/hash-dice.png');
    margin-right: 10px;
    background-size: cover
}
#keno-m{
    background: url('../img/keno-muly.png');
    background-size: cover
}

#mine{
    background: url('../img/mine.png');
    margin-right: 10px;
    background-size: cover
}
#blackjackfb1{
    background: url('../img/black-jack.png');
    margin-right: 10px;
    background-size: cover
}
#crash-fb1{
    background: url('../img/hash-dice.png');
    margin-right: 10px;
    background-size: cover
}
#wheel{
    background: url('../img/wheel.png');
    margin-right: 10px;
    background-size: cover
}
#roulette-m2{
    background: url('../img/roullete-multy.png');
    background-size: cover;
}
/* hero 2 main end */

/* hero 3 main  table rank */

.ablb{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 340px;
    height: 49px;
    background: linear-gradient(177.09deg, #171920 -3.07%, #1B1D25 165.3%);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    margin-bottom: 34px;
}
#tables-section{
    margin-top: 114px;
    margin-bottom: 310px;
}
.all-bets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 36px;
    background: #5070EE;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 4px 4px 20px rgba(80, 112, 238, 0.15);
    border-radius: 20px;
}
.all-bets h4{
    font-family: 'Panton';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    margin-left: 5px;

    text-align: center;
    color: #FFFFFF;
}

.leaderboard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 36px;
}
.leaderboard h4{
    font-family: 'Panton';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-left: 5px;
    color: #FFFFFF;
    opacity: 0.3;
}
/* table rank */
.table-rank{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(198.64deg, #171920 -5.56%, #1B1D25 179.16%);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    width: 892px;
    height: 614px;
}
.table-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 55px;
    border-radius: 23px;
    padding: 0 51px;
}
.table-head p{
    font-family: 'Panton';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #686D7B;
}
.table-c{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 55px;
    background: #1E2029;
    border-radius: 23px;
    padding: 0 51px;
    margin-bottom: 15px;
}
.table-game{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 12px;
}
.table-wager{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 28px;
}
.table-c p{
    font-family: 'Panton';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    margin-left: -12px;
    text-align: center;
    color: #FFFFFF;
}
.table-wager p{
    margin-right: 7px;
}
.table-game p{
    font-family: 'Panton';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #5070EE;
    text-shadow: 4px 4px 15px rgba(80, 112, 238, 0.25);
    
}
#table-multi{
    font-family: 'Panton';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #ED8B13;
    position: relative;
    right: 57px;
}
#table-payout{
    font-family: 'Panton';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FCE530;
    text-shadow: 4px 4px 20px rgba(252, 229, 48, 0.25);
    position: relative;
    right: 11px;
}
.player-game-p{
    position: relative;
    right: 75px;
}
#tc2, #tc4, #tc6{
    background: #232733;
}
#tc7{
    margin-bottom: 29px;
}
/* end table rank */
#showmore{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
    cursor: pointer;
}
#showmore p{
    font-family: 'Panton';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-right: 12px;
    color: #808999;
}
/* hero 3 main end */

/* hero 4  start*/
/* about us */
#about{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    margin-bottom: 194px;
    /* margin-left: 177px; */
    width: 85%;
}
.about-us{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 379px;
}
.about-us p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    margin-top: 44px;
    color: #686D7B;
    width: 379px;
}
/* about us end */
.home-contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.hc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.hc a{
    text-decoration: none;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #686D7B;
}
.hc p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #686D7B;
    margin-left: 15px;
}
.hc ul{
    list-style: none
}
.hc li{
    margin-bottom: 19px;
    display: flex;
    flex-direction: row;

}
#contact{
    margin-left: 91px;
}
.hc h3{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 34px;
}
/* hero 5 = footer (start) */
.socialmedia{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}
.socialmedia a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: #191B22;
    border-radius: 50%;
    margin-right: 22px;
}
#footer{
    width: 100%;
}
#ytb{
    margin-right: 0;
}
.brands-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 119px;
}
.logo-b{
    margin-right: 40px;
}
#ripl{
    margin-right: 0;
}
/* hero 5 (end) */

/* login panel */

#panel{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    backdrop-filter: blur(9px);
}
#login-panel{
    display: none;
}
#registre-panel{
    display: none;
}

#login-panel, #registre-panel{
    /* display: none; */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 137px;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    z-index: 3;
    width: 443px;
    height: 640px;
    background: #181A22;
    border-radius: 15px;
    margin: auto;
}
#login-panel h3,#registre-panel h3{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    /* identical to box height */

    text-align: center;
    color: #FFFFFF;
    margin-bottom: 8px;
}
#login_b{
    color: #627EEA;
}
#registre_o{
    color: #F7931A;
}
.login-p, .registre-p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    /* Black/30 */
    color: #8B8D97;
    margin-bottom: 66px ;
}
.cd{
    cursor: pointer;
}
.logo-l{
    margin-bottom: 48px;
    margin-top: 51px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.areatext{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 52px;
    background-color: #1C1E27;
    border-radius: 8px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(171, 175, 177, 0.5);
    padding-left: 56px;
    padding-top: 9px;
    padding-right: 10px;
    margin-bottom: 30px;
    border: 2px #1C1E27 solid;
    padding-bottom: 3px;
    outline: none;
}
.input-b{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -6px;
}
#x{
    width: 40px;
    height: 40px;
    color: #171920;
    position: relative;
    left: 194px;
    cursor: pointer;
    display: none;
    z-index: 100;
    bottom: 424px;
}
.input-b img {
    position: relative;
    left: 42px;
}
#login-but{
    background: linear-gradient(93.14deg, #F7931A -0.9%, #627EEA -0.89%, #627EEA 106.96%);
    border: 1px solid #9CB1FF;
    box-shadow: 0px 4px 20px rgba(98, 126, 234, 0.15);
    padding-right: 7px;
}
#registre-but{
    background: linear-gradient(93.14deg, #F7931A -0.9%, #FFA942 106.96%);
    border: 1px solid #FFC278;
    box-shadow: 0px 4px 20px rgba(252, 162, 53, 0.15);
    border-radius: 10px;
}
.submit-l{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 15px;
    align-items: center;
    width: 232px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}
.a-form {
    margin-bottom: 48px;
    text-decoration: none;
    position: relative;
    float: left;
    width: inherit;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #5570F1;
    left: 129px;
    top: -23px;
}
.signup-l{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 27px;
}
.signup-l p{
    text-decoration: none;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    /* Black/30 */
    color: #8B8D97;
}
.signup-l a{
    text-decoration: none;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    /* Black/30 */
}
.password{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    position: relative;
    left: 8px;
}
.password img{
    position: relative;
    left: -29px;
    top: -13px;
}

.email-l{background: url('../img/mail-l.svg') no-repeat scroll 20px 18px; }
.password-l{background: url('../img/password.svg') no-repeat scroll 20px 18px;}
#name-re{background: url('../img/full_name.svg') no-repeat scroll 20px 18px;}
@media (min-width: 1920px) {
    #imgs2{
        width: 790px;
    }
    .featured-img{
        width: 570px;
    }
    .herostyle p{
        width: 570px;
    }
    .fb-box{
        width: 239px;
        height: 234px;
    }
    .table-rank{
        width: 1235px;
    }
}
@media (max-width:1567px) {
    .s1{
        margin-right: 27px;
    }
}
@media (max-width:1346px) {
    #imgs2 {
        width: 367px;
    }
    .featured-img {
        width: 367px;
    }
    .herostyle p{
        width: 367px;
    }
    .s1 {
        margin-right: 71px;
    }
    .fb-box {
        width: 145px;
        height: 145px;
    }
    .table-rank {
        width: 764px;
    }
    .player-game-p {
        right: 35px;
    }
    #pgame-h{
        position: relative;
        left: 41px;
    }

    .logo-b {
        width: 10%;
    }
}
@media (max-width:1256px) {
    .s1 {
        margin-right: 0;
    }
}
@media (max-width:1163px) {
    #imgs1 {height: 258px;}
    #imgs2 {height: 258px;}
    #imgs1, #imgs2, .featured-img,.herostyle p{width: 300px;}
    .fb-box {
        width: 117px;
        height: 117px;
    }
    .table-rank {
        width: 635px;
    }
}
@media (max-width:1108px) {
    .nav-bar li {margin-right: 12px;}
    .nav-bar li a {margin-left: 2px;}
}
@media (max-width:1022px) {
    .nav-bar ul li img{
        display: none;
    }
    #imgs1, #imgs2, .featured-img, .herostyle p {
        width: 240px;
    }
    #imgs1, #imgs2 {
        height: 202px;
    }
    .title-text h3 {
        font-size: 30px;
    }
    .fb-box {
        width: 96px;
        height: 96px;
    }
    .table-rank {
        width: 524px;
    }
    .table-game p {
        font-size: 10px;
    }
    .table-c p{
        font-size: 10px;
    }
    #game-h{
        position: relative;
        right: 26px;
    }
    .table-game {
        right: 37px;
    }
    #pgame-h {
        left: 30px;
    }
    #payout-h{
        position: relative;
        right: -27px;
    }
    #multi-h{
        position: relative;
        right: -27px;
    }
    #table-multi {
        right: 17px;
    }
    #table-payout{
        right: -17px;
    }
    .table-wager{
        right: 0;
    }
    #wager-h{
        position: relative;
        left: 20px;
    }
}
@media (max-width: 909px) {
    .hc a {
        font-size: 13px;
    }
    .hc li {
        margin-bottom: 3px;
    }
    .about-us p {
        font-size: 13px;
        line-height: 20px;
    }
    .hc p {
        font-size: 13px;
    }
    #slideshow {
        flex-direction: column;
    }
    #slide-1 {
        margin-right: 0;
        margin-bottom: 50px;
    }
    #imgs1, #imgs2, .featured-img, .herostyle p {
        width: 372px;
    }
    .hero-main {
        flex-direction: column;
    }
    .button-all-games h2 {
        line-height: 19px;
        font-size: 12px;
    }
    .title-text h3 {
        font-size: 20px;
    }
    .fb-box {
        width: 62px;
        height: 62px;
    }
    .fb-main {
        margin-top: 20px;
        margin-bottom: 6px;
    }
    #hero2 {
        margin-top: 27px;
    }
    .table-rank {
        width: 341px;
    }
    .table-game img{
        display: none;
    }
    .table-wager img{
        display: none;
    }
    .table-head p {
        font-size: 8px;
    }
    .table-c p {
        font-size: 8px;
    }
    #table-multi {
        font-size: 8px;
    }
    #table-payout {
        font-size: 8px;
    }
    .table-c {
        padding: 0 71px;
    }
    #pgame-h {
        left: -5px;
    }
    #wager-h {
        left: 2px;
    }
    .table-wager p{
        position: relative;
        right: 3px;
    }
    #table-multi {
        left: 2px;
    }
    #multi-h {
        left: 14px;
    }
    #payout-h {
        position: relative;
        right: -18px;
    }
    #table-payout {
        right: -33px;
    }
    .herostyle p {
        font-size: 12px;
    }
    #hero1-1{
        margin-right: 0;
    }
    #showmore p {
        font-size: 10px;
    }
    #tables-section {
        margin-top: 64px;
        margin-bottom: 141px;
    }
    .nav-bar li a {
        font-size: 8px;
    }
    .login-nav, .register-nav {
        width: 70px;
        height: 30px;
        cursor: pointer;
    }
    .login-nav a, .log-reg a{
        font-size: 10px;
    }
    .ablb {
        width: 180px;
    }
    .leaderboard h4 {
        font-size: 9px;
    }
    .all-bets h4 {
        font-size: 9px;
    }
}
@media (max-width: 761px) {
    #imgs1, #imgs2, .featured-img, .herostyle p {
        width: 305px;
    }
    .fb-box {
        width: 45px;
        height: 45px;
    }
    .button-all-games h2 {
        font-size: 8px;
    }
    .left-menu-1, .left-menu-2 {
        width: 222px;
        margin-left: 27px;
    }
    .lmc-h {
        width: 175px;
    }
    .live-c-t {
        width: 52px;
    }
    .live-c-t h3, .live-c-n h3{
        font-size: 8px;
    }
    .live-c-n {
        width: 31px;
    }
    .lmc-h h3, .main-c li a {
        font-size: 10px;
    }
    .leaderboard h4 {
        font-size: 7px;
    }
    #contact {
        margin-left: 19px;
    }
    #about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 194px;
        /* margin-left: 177px; */
        width: 85%;
    }
    .about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    .home-contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        margin: auto;
    }
    .home-contact {
        margin-top: 36px;
    }
    .hc {
        align-items: center;
    }
    .hc li{
        justify-content: center;
    }
    .home-contact {
        margin-top: 67px;
    }
}
@media (max-width:656px) {
    
}